@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    font-family: 'PT Serif', serif;
}

.generic-button {
    background-color: #CCA25B;
    color: white;
}
.generic-button:hover {
    background-color: #875809;
    color: white;
}

.btn-registrate {
    background-color: #875809;
}


footer {
    background-color: #503406;
}

.contacto {
    color: #EBC27E;
}
.contacto:hover {
    color: white;
}


.banner-header {
    background-image: url("../public/images/banner-header.svg");
    background-position: center center, center top;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: auto;
    height: 700px;
}

.banner-login {
    background-image: url("../public/images/banner-login.png");
    background-position: center center, center top;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    max-width: 100%;
    height: auto;

}

.banner-register {
    background-image: url("../public/images/banner-register.png");
    background-position: center center, center top;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.form-login {
    color: #503406;
}

.title {
    color: white;
    font-size: 100px;
    padding-top: 200px;
}


.effect-hover:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}



/* Cambiamos el tama침o de la imagen para pantallas superiores al tama침o indicado. De esta manera, la imagen de fondo cubrir치 todas los tama침os de pantalla. */
@media only screen and (min-width: 1920px) {


    .banner-login {
        background-image: url("../public/images/banner-login.png");
        background-position: center center, center top;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        max-width: 100%;
        height: 1920px;
    }
    .container-login {
        position: relative;
    }
    .content-login {
        position: absolute;
        top: 350%;
        right: 50px;
        font-size: 18px;
    }


    .banner-register {
        background-image: url("../public/images/banner-register.png");
        background-position: center center, center top;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        max-width: 100%;
        height: 1920px;
    }
    .container-register{
        position: relative;
    }
    .content-register {
        position: absolute;
        top: 500%;
        width: 100%;
        font-size: 18px;
    }
}

